<div class="products-list">
<h1 class="title">Products</h1>
<%= link_to '<button class="new-product-btn" type="button">New Product</button>'.html_safe, new_product_path%>
    <% @products.each do |product| %>
      <div class="card">
      <% if product.image %>
      <%= link_to product do %>
      <%= image_tag(product.image_url(:default)) %>
      <% end %>
      <% end %>
        <p><%= product.name %></p>
        <p>£<%= product.price.to_i %></p>
</div>
<% end %>
<div>